<div id="headerButtons">
    <% const loginButton = typeof showLoginButton !== 'undefined' ? showLoginButton : true %>
    <% const localUserInfo = typeof userInfo !== 'undefined' ? userInfo : {isLoggedIn: false} %>
    <button id="externalSitesButton" class="headerButtonsButton" aria-label="Guidewire sites" title="Guidewire sites" type="button">
        <div id="externalSitesMenu" class="headerButtonsMenu">
            <div class="headerButtonsMenuHeader">Guidewire sites</div>
            <hr class="headerButtonsMenuDivider">
            <div class="headerButtonsMenuActions">
                <%
                const availableExternalSites = [
                    {
                        label: 'Customer Community',
                        url: 'https://community.guidewire.com/s/login',
                    },
                    {
                        label: 'Partner Portal',
                        url: 'https://partner.guidewire.com/s/login',
                    },
                    {
                        label: 'Developer',
                        url: 'https://developer.guidewire.com',
                    },
                    {
                        label: 'Education',
                        url: 'https://ilearning.seertechsolutions.com/lmt/xlr8login.login?site=guidewire',
                    },
                    {
                        label: 'Guidewire Website',
                        url: 'https://www.guidewire.com',
                    },
                ];
                availableExternalSites.forEach(s => { %>
                    <div>
                        <a href="<%= s.url %>" rel="noopener noreferrer"
                           target="_blank"><%= s.label %></a>
                    </div>
                <% }) %>
            </div>
        </div>
    </button>
    <% if (localUserInfo.isLoggedIn) { %>
        <button id="guidewireGlossaryButton" class="headerButtonsButton" aria-label="Guidewire Glossary"
                title="Guidewire glossary" type="button">
            <div id="guidewireGlossaryMenu" class="headerButtonsMenu">
                <div class="headerButtonsMenuActions">
                    <div><a href="/glossary">Guidewire Glossary</a></div>
                </div>
            </div>
        </button>
        <button id="translatedDocsButton" class="headerButtonsButton" aria-label="translated documentation"
                title="Translated documentation" type="button">
            <div id="translatedDocsMenu" class="headerButtonsMenu">
                <div class="headerButtonsMenuHeader">Translated documentation</div>
                <hr class="headerButtonsMenuDivider">
                <div class="headerButtonsMenuActions">
                    <% translatedPages.forEach(p => { %>
                        <div><a href="<%= p.pageUrl %>"><%= p.label %></a></div>
                    <% }) %>
                </div>
            </div>
        </button>
        <button id="avatarButton" class="headerButtonsButton" aria-label="user information"
                title="User information" type="button">
            <div id="avatarMenu" class="headerButtonsMenu">
                <div class="headerButtonsMenuHeader">
                    <div class="avatarMenuName"><%= userInfo.name %></div>
                    <div class="avatarMenuEmail"><%= userInfo.preferred_username %></div>
                </div>
                <hr class="headerButtonsMenuDivider"/>
                <div class="headerButtonsMenuActions">
                    <a class="avatarMenuLogout" href="/gw-logout">Log out</a>
                </div>
            </div>
        </button>
    <% } else if (loginButton) { %>
        <a class="button" id="loginButton" href="/gw-login">Log in</a>
    <% } %>
    <script>
        function showMenu(event, buttonId, menuId) {
            if (event.target.id === buttonId) {
                const menuElement = document.getElementById(menuId);
                menuElement.classList.toggle('show');
            }
        }

        function closeMenu(event, buttonId, menuId) {
            if (!event.target.closest(`#${buttonId}`)) {
                const menuElement = document.getElementById(menuId);
                if (menuElement.classList.contains('show')) {
                    menuElement.classList.remove('show');
                }
            }
        }

        [
            {
                buttonId: 'translatedDocsButton',
                menuId: 'translatedDocsMenu'
            },
            {
                buttonId: 'externalSitesButton',
                menuId: 'externalSitesMenu'
            },
            {
                buttonId: 'avatarButton',
                menuId: 'avatarMenu'
            },
            {
                buttonId: 'guidewireGlossaryButton',
                menuId: 'guidewireGlossaryMenu'
            }
        ].forEach(o => {
            const buttonElement = document.getElementById(o.buttonId);
            if (buttonElement) {
                window.addEventListener('click', function (event) {
                    closeMenu(event, o.buttonId, o.menuId)
                });
                buttonElement.addEventListener('click', function (event) {
                    showMenu(event, o.buttonId, o.menuId)
                })
            }
        })

    </script>
</div>