<% const searchBox = typeof showSearchBox !== 'undefined' ? showSearchBox : true
const placeholderText = typeof localizationInfo !== 'undefined' ? localizationInfo.placeholder : 'Search'
const pageContentLocal = typeof pageContent !== 'undefined' ? pageContent : false
const searchFilters = pageContentLocal && typeof pageContent.search_filters !== 'undefined' ? pageContent.search_filters : false
const internalBadge = pageContentLocal && pageContentLocal.internal;
%>
<% if (typeof headerClass !== 'undefined') { %>
<header class="<%= headerClass %>">
    <% } else { %>
    <header>
        <% } %>
        <div id="headerLeft">
            <a href="/">
                <img
                        class="pageLogo"
                        src="/images/logo-gw-doc.svg"
                        alt="Guidewire Documentation home"
                        role="img"
                        aria-label="Guidewire Documentation home"
                        title="Guidewire Documentation home"
                />
            </a>
        </div>
        <% if (searchBox) { %>
            <div id="headerCenter">
                <form action="/search">
                    <div class="searchWrapper">
                        <label class="searchLabel" for="searchField"><%= placeholderText %></label>
                        <input
                                name="q"
                                id="searchField"
                                class="searchField"
                                type="search"
                                placeholder="<%= placeholderText %>"
                                aria-label="<%= placeholderText %>"
                        />
                        <% if (searchFilters) { %>
                            <% Object.entries(searchFilters).forEach( ([searchFilterName, searchFilterValue]) =>  { %>
                                <input type="hidden" name="<%= searchFilterName %>"
                                       value="<%= searchFilterValue.join(",") %>"/>
                            <% }) %>
                        <% } %>
                        <button type="submit" class="searchButton" aria-label="<%= placeholderText %>">
                            <%= placeholderText %>
                        </button>
                    </div>
                </form>
            </div>
        <% } %>
        <div id="headerRight">
            <% if (internalBadge) { %>
                <%- include('internal-badge') %>
            <% } %>
            <%- include('header-buttons') %>
        </div>
        <% if (process.env.DEPLOY_ENV.toLowerCase() == 'int') { %>
            <div id="headerBottom">This site is deprecated. 
                Please visit <a href="https://docs.staging.ccs.guidewire.net">https://docs.staging.ccs.guidewire.net</a>
                or <a href="https://docs.guidewire.com">https://docs.guidewire.com</a> instead.</div>
        <% } %>
    </header>
</header>
