<% if (userContext || public) { -%>
    <% if (url.startsWith('http://') || url.startsWith('https://')) { -%>
        <a href="<%= url %>" target="_blank"
           rel="noopener noreferrer"
           class="<%= customClass ? customClass : '' -%>"
        ><%= label %></a>
    <% } else { -%>
        <a 
            href="<%= url %>"
            class="<%= customClass ? customClass : '' -%>"
        ><%= label %></a>
    <% } %>
<% } else { %>
    <span class="lockTooltip <%= customClass ? customClass : '' -%>">
        <span class="lockedLink"><%= label %><img
            alt="locked"
            src="/images/lock-solid.svg"
            class="lockIcon"
        /></span>
        <span class="lockTooltipText">Log in to view this content</span>
    </span>
<% } %>