<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../stylesheets/search.css" />
    <title>Search Results - Guidewire Documentation</title>
  </head>
  <body>
    <header class="pageHeader">
      <a href="/">
        <img class="pageLogo" src="assets/img/guidewire-logo.jpg" />
        <span class="pageTitle">Guidewire Documentation</span>
      </a>
    </header>
    <div class="searchBar">
      <input
        id="searchField"
        class="searchField"
        type="text"
        value="<%= query %>"
      />
      <button id="searchButton" class="searchButton"></button>
    </div>
    <div class="docPanelContainer container">
      <div class="row">
        <div class="col filterSearchResults">
          <% filters.forEach(filter => { %>
          <h2>Filter by <%= filter.name %></h2>
          <% filter.values.forEach(checkboxValue => { %>
          <div class="checkboxRow">
            <input
              type="checkbox"
              class="filterCheckbox"
              name="<%= filter.name %>"
              value="<%= checkboxValue.label %>"
              <% if (checkboxValue.checked) { %>
                checked="true"
              <% } %>
            /><label for="<%= checkboxValue.label %>" class="checkboxLabel"
              ><%= checkboxValue.label %></label
            >
          </div>
          <% }) %> <% }) %>
        </div>
        <div class="col-sm-10">
          <h1>Search results for "<%= query %>"</h1>
          <div class="resultsSubheading">
            Displaying <%= searchResults.length %> out of <%= totalNumOfResults
            %> results (page <%= currentPage %> of <%= pages %>)
          </div>
          <div class="searchResults" id="searchResults">
            <% searchResults.forEach(result => { %>
            <h2>
              <a href="<%= result.ref %>" target="_blank"
                ><%= result.title %></a>
            </h2>
            <div class="resultBadges">
              <span class="badge badge-light"><%= result.platform %></span>
              <span class="badge badge-light"><%= result.product %></span>
              <span class="badge badge-light"><%= result.version %></span>
            </div>
            <p><%= result.body %></p>
            <% }) %>
          </div>
          <% if (pages > 0) { %>
          <ul class="pagination text-center">
            <% if (currentPage == 1) { %>
            <li class="disabled"><a>First</a></li>
            <% } else { %>
            <li>
              <button onclick="setGetParameter('page', '1')">First</button>
            </li>
            <% } %> <% var i = (Number(currentPage) > 5 ? Number(currentPage) -
            4 : 1) %> <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
            <% } %> <% for (; i <= (Number(currentPage) + 4) && i <= pages; i++)
            { %> <% if (i == currentPage) { %>
            <li class="disabled"><%= i %></li>
            <% } else { %>
            <li>
              <button onclick="setGetParameter('page', <%= i %>)">
                <%= i %>
              </button>
            </li>
            <% } %> <% if (i == Number(currentPage) + 4 && i < pages) { %>
            <li class="disabled"><a>...</a></li>
            <% } %> <% } %> <% if (currentPage == pages) { %>
            <li class="disabled"><a>Last</a></li>
            <% } else { %>
            <li>
              <button onclick="setGetParameter('page', <%= pages %>)">
                Last
              </button>
            </li>
            <% } %>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
    <script>
      function setGetParameter(paramName, paramValue) {
        var url = window.location.href;
        var hash = location.hash;
        url = url.replace(hash, '');
        if (url.indexOf(paramName + '=') >= 0) {
          var prefix = url.substring(0, url.indexOf(paramName + '='));
          var suffix = url.substring(url.indexOf(paramName + '='));
          suffix = suffix.substring(suffix.indexOf('=') + 1);
          suffix =
            suffix.indexOf('&') >= 0
              ? suffix.substring(suffix.indexOf('&'))
              : '';
              if (paramValue.length > 0) {
                url = prefix + paramName + '=' + paramValue + suffix;
              } else {
                url = prefix.substring(0, prefix.length - 1) + suffix;
              }
        } else {
          if (paramValue.length > 0 && url.indexOf('?') < 0) url += '?' + paramName + '=' + paramValue;
          else url += '&' + paramName + '=' + paramValue;
        }
        window.location.href = url + hash;
      }

      function updateFilters(e) {
        console.log('name', e.target.name);
        console.log('value', e.target.value);
        console.log('neighbors', document.getElementsByName(e.target.name));

        const neighbors = document.getElementsByName(e.target.name);
        let selectedValues = new Array();
        Array.prototype.forEach.call(neighbors, function(cb) {
          if (cb.checked) {
            selectedValues.push(cb.value);
          }
        });

        setGetParameter(e.target.name, encodeURI(selectedValues.join(' ')));
      }

      const allBoxes = document.getElementsByClassName('filterCheckbox');
      if (allBoxes) {
        Array.prototype.forEach.call(allBoxes, function(box) {
          box.addEventListener('change', updateFilters, false);
        });
      }

      const searchButton = document.getElementById('searchButton');
      if (searchButton) {
        searchButton.addEventListener('click', function(event) {
          setGetParameter(
            'q',
            encodeURI(document.getElementById('searchField').value)
          );
        });
      } else {
        console.log('~Cannot find search button');
      }

      const searchInput = document.getElementById('searchField');
      if (searchInput) {
        searchInput.addEventListener('keyup', function(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById('searchButton').click();
          }
        });
      } else {
        console.log('~Cannot find search input');
      }
    </script>
  </body>
  <footer class="pageFooter">
    <span class="footerCopyright">© Guidewire Software, Inc.</span>
  </footer>
</html>
