<!DOCTYPE html>
<html lang="en">
  <%- include('parts/head', { pageTitle: `404: page not found`}) %>
  <body>
    <%- include('parts/header') %>
    <main class="infoPage">
      <section class="infoSection">
        <div class="infoSplashImage splash404"></div>
        <h1 class="infoTitle">404: page not found</h1>
        <% if (pageInfo.cameFrom) { %>
        <p>
          Sorry, we couldn't find:
        </p>
        <pre class="infoPre"><%= pageInfo.cameFrom %></pre>
        <% } %>
        <p>
          We weren't able to find what you are looking for. You may have an old
          link. We'll make a note of it and, if it's an error on our site, we
          will try to fix it soon.
        </p>
        <% if (pageInfo.cameFrom.includes('docs.int.ccs.guidewire.net')) { %>
          <p>Are you perhaps looking for <a href="<%= pageInfo.cameFrom.replace('docs.int.ccs.guidewire.net', 'docs.staging.ccs.guidewire.net') %> ">that doc page on the "staging" site</a>? We are moving docs from "int" to "staging". If you have bookmarks to the old preview site, feel free to update them.</p>
        <% } %>  
        <p>
          Meanwhile, try using the search box above, or
          go to the
          <a href="<%= pageInfo.appBaseUrl %>">home page</a>.
        </p>
      </section>
    </main>
    <%- include('parts/footer') %>
  </body>
</html>
