<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="docPanelContainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="docPageTitle docPageHeaderItems">
                    <h1><%= pageInfo.title -%></h1>
                    <% if(pageInfo.availableReleases.length > 1) { -%>
                        <script>
                            function selectRelease() {
                                const selectedRelease = document.getElementById("releaseSelector").value;
                                window.location.replace(selectedRelease);
                            }
                        </script>
                        <label for="releaseSelector">Select release:
                            <select onchange="selectRelease()" id="releaseSelector">
                                <% pageInfo.availableReleases.forEach(release => { -%>
                                    <option
                                            value="<%= release -%>"
                                            <%= release === pageInfo.selectedRelease ? 'selected="selected"' : '' %>
                                    >
                                        <%= release -%>
                                    </option>
                                <% }); -%>
                            </select>
                        </label>
                    <% }; -%>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="docPageHeaderItems">
                    <%- include('./parts/toggle.ejs', {selected: 'cloud'}) %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <% pageInfo.productFamilies.forEach(family => { -%>
                        <div class="col-sm-4">
                            <% if (family.url.startsWith('http://') || family.url.startsWith('https://')) { -%>
                                <a href="<%= family.url %>" class="productCard" target="_blank"
                                   rel="noopener noreferrer"><%= family.label %></a>
                            <% } else { -%>
                                <a href="<%= family.url %>" class="productCard"><%= family.label %></a>
                            <% } %>
                        </div>
                    <% }); -%>
                </div>
            </div>
            <div class="col-sm-3">
                <% include parts/useful-links %>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>
