<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="docPageTitle docPageHeaderItems">
              <% include parts/breadcrumb %>
              <h1><%= title %></h1>
              <% if(availableReleases.length > 1) {-%>
              <script>
                function selectRelease() {
                  const selectedRelease = document.getElementById("releaseSelector").value;
                  window.location.replace(selectedRelease);
                }
              </script>
              <label for="releaseSelector">Select version:
                <select onchange="selectRelease()" id="releaseSelector">
                  <% availableReleases.forEach(release => { -%>
                    <option
                      value="<%= release -%>"
                      <%= release === selectedRelease ? 'selected="selected"' : '' %>
                    >
                    <%= release -%>
                    </option>
                  <% }); -%>
                </select>
              </label>
              <% }; -%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <% categories.forEach(category => { -%>
                <div class="col-sm-4 mt-3">
                  <div class="categoryCard">
                  <h2><%= category.label %></h2>
                    <% category.docs.forEach(categoryDoc => { -%>
                      <div class="docLink">
                          <a href="<%= categoryDoc.docUrl %>" target="_blank" rel="noopener noreferrer"><%= categoryDoc.docLabel %></a>
                      </div>
                    <% }) -%>
                    <% category.groups.forEach(group => { -%>
                    <h3><%= group.groupLabel %></h3>
                      <% group.groupDocs.forEach(groupDoc => { -%>
                        <div class="docLink">
                          <a href="<%= groupDoc.docUrl %>" target="_blank" rel="noopener noreferrer"><%= groupDoc.docLabel %></a>
                        </div>
                      <% }) -%>
                    <% }) -%>
                  </div>
                </div>
              <% }) -%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
