<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="docPageTitle docPageHeaderItems">
            <% include parts/breadcrumb %>
            <h1><%= title %></h1>
            <% if(sortedVersions.length > 1) {-%>
            <script>
              function selectRelease() {
                const selectedRelease = document.getElementById("releaseSelector").value;
                window.location.replace(selectedRelease);
              }
            </script>
            <label for="releaseSelector">Select version:
              <select onchange="selectRelease()" id="releaseSelector">
                <% sortedVersions.forEach(release => { -%>
                  <option
                    value="<%= release -%>"
                    <%= release === selectedRelease ? 'selected="selected"' : '' %>
                  >
                    <%= release -%>
                  </option>
                <% }); -%>
              </select>
            </label>
            <% }; -%>
          </div>
        </div>
        <div class="row">
          <div class="wh_categories">
            <% docGroups.forEach(group => { -%>
              <div class="wh_category">
                <div class="wh_category_header">
                  <div class="<%= group.icon -%>"></div>
                  <div class="wh_category_header_text"><%= group.category %></div>
                </div>
                <ul class="wh_category_items">
                  <% group.docs.forEach(doc => { -%>
                    <li class="wh_category_item">
                      <span class="topicref">
                        <% if (doc.url.startsWith('http://') || doc.url.startsWith('https://')) { -%>
                          <a href="<%= doc.url %>" target="_blank" rel="noopener noreferrer"><%= doc.title %></a>
                        <% } else { -%>
                          <a href="/<%= doc.url %>"><%= doc.title %></a>
                        <% } %>
                      </span>
                      </li>
                  <% }) -%>
                </ul>
              </div>
            <% }) -%>
          </div>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
