<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="docPanelContainer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="docPageTitle docPageHeaderItems">
                    <% const breadcrumb = pageInfo.breadcrumb -%>
                    <% include parts/breadcrumb %>
                    <h1><%= pageInfo.title %></h1>
                    <% if(pageInfo.sortedVersions.length > 1) { -%>
                        <script>
                            function selectRelease() {
                                const selectedRelease = document.getElementById("releaseSelector").value;
                                window.location.replace(selectedRelease);
                            }
                        </script>
                        <label for="releaseSelector">Select version:
                            <select onchange="selectRelease()" id="releaseSelector">
                                <% pageInfo.sortedVersions.forEach(version => { -%>
                                    <option
                                            value="<%= version -%>"
                                            <%= version === pageInfo.selectedVersion ? 'selected="selected"' : '' %>
                                    >
                                        <%= version -%>
                                    </option>
                                <% }); -%>
                            </select>
                        </label>
                    <% }; -%>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="wh_categories">
                    <% pageInfo.subjects.forEach(subject => { -%>
                        <div class="wh_category">
                            <div class="wh_category_header">
                                <div class="<%= subject.subjectIcon -%>"></div>
                                <div class="wh_category_header_text"><%= subject.subjectName %></div>
                            </div>
                            <ul class="wh_category_items">
                                <% subject.subjectDocs.forEach(doc => { -%>
                                    <li class="wh_category_item">
                                        <span class="topicref">
                                            <%- include('./parts/link.ejs', {
                                                url: doc.url, 
                                                label: doc.title, 
                                                public: doc.public, 
                                                userContext: userContext,
                                                customClass: undefined,
                                            }) %>
                                        </span>
                                    </li>
                                <% }) -%>
                            </ul>
                        </div>
                    <% }) -%>
                </div>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>
