<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="docPanelContainer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="docPageTitle docPageHeaderItems">
                    <% const breadcrumb = pageInfo.breadcrumb -%>
                    <% include parts/breadcrumb %>
                    <h1><%= pageInfo.title %></h1>
                    <% if(pageInfo.availableReleases.length > 1) { -%>
                        <script>
                            function selectRelease() {
                                const selectedRelease = document.getElementById("releaseSelector").value;
                                const urlParts = window.location.pathname.split('/');
                                urlParts[2] = selectedRelease;
                                window.location.replace(urlParts.join('/'));
                            }
                        </script>
                        <label for="releaseSelector">Select release:
                            <select onchange="selectRelease()" id="releaseSelector">
                                <% pageInfo.availableReleases.forEach(release => { -%>
                                    <option
                                            value="<%= release -%>"
                                            <%= release === pageInfo.selectedRelease ? 'selected="selected"' : '' %>
                                    >
                                        <%= release -%>
                                    </option>
                                <% }); -%>
                            </select>
                        </label>
                    <% }; -%>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <% pageInfo.categories.forEach(category => { -%>
                        <div class="col-sm-4 mt-3">
                            <div class="categoryCard">
                                <h2><%= category.label %></h2>
                                <% category.docs.forEach(categoryDoc => { -%>
                                    <div class="docLink">
                                        <%- include('./parts/link.ejs', {
                                            url: categoryDoc.docUrl, 
                                            label: categoryDoc.docLabel, 
                                            public: categoryDoc.public, 
                                            userContext: userContext,
                                            customClass: undefined,
                                        }) %>
                                    </div>
                                <% }) -%>
                                <% category.groups.forEach(group => { -%>
                                    <h3><%= group.groupLabel %></h3>
                                    <% group.groupDocs.forEach(groupDoc => { -%>
                                        <div class="docLink">
                                            <%- include('./parts/link.ejs', {
                                                url: groupDoc.docUrl, 
                                                label: groupDoc.docLabel, 
                                                public: groupDoc.public, 
                                                userContext: userContext,
                                                customClass: undefined,
                                            }) %>
                                        </div>
                                    <% }) -%>
                                <% }) -%>
                            </div>
                        </div>
                    <% }) -%>
                </div>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>
