<!DOCTYPE html>
<html lang="<%= localizationInfo.lang %>">
<%- include('parts/head', { pageTitle: `Guidewire Documentation`}) %>
<body>
<%- include('parts/header') %>
<main class="<%= pageContent.class || '' %>">
    <div class="pageBody">
        <div class="pageControllers">
            <% if (pageContent.title.toLowerCase() !== 'flaine') { %>
                <%- include('parts/platform-toggle') %>
                <div class="pageHero">
                    <%- include('parts/breadcrumbs') %>
                    <h1><%= pageContent.title %></h1>
                </div>
            <% } %>
            <%- include('parts/page-selector') %>
            <% if (pageContent.title.toLowerCase() === 'flaine') { %>
                <%- include('parts/ski/flaine') %>
            <% } %>
        </div>
        <div class="content">
            <% if (pageContent.title.toLowerCase() === 'flaine') { %>
                <%- include('parts/ski/intro') %>
            <% } %>
            <% function createItemElement(className, href, label, itemItems, isPubliclyAvailable, isInternal) { %>
                <% if (href || itemItems.length > 0) { %>
                    <div class="<%= className || '' %>">
                        <% if (href) { %>
                            <a href="<%= href %>"><%= label %>
                                <% if (isInternal) { %>
                                    <span class="internalItem">
                                    <img class="internalItemIcon" src="/images/info_orange_24dp.svg"
                                         alt="Guidewire internal content"/>
                                    <span class="internalItemTooltip">Guidewire internal content</span>
                                </span>
                                <% } %>
                            </a>
                        <% } else { %>
                            <div class="label"><%= label %></div>
                            <% itemItems.forEach(i => { -%>
                                <%= createBlock(i) %>
                            <% }) %>
                        <% } %>
                    </div>
                <% } %>
            <% } %>
            <% function createBlock(item) { %>
                <% const itemLabel = item.label
                    const itemHref = item.page ? encodeURI(pagePath + item.page) : item.doc_url || item.link
                    const itemIsPublic = item.public
                    const itemIsInternal = item.internal
                    const itemClass = item.class
                %>
                <% if (hasGuidewireEmail) { %>
                    <% const innerItems = item.items ? item.items : [] %>
                    <%= createItemElement(itemClass, itemHref, itemLabel, innerItems, itemIsPublic, itemIsInternal) %>
                <% } else if (!hasGuidewireEmail) { %>
                    <% const itemIsInternal = item.internal %>
                    <% const itemRegularInnerItems = item.items ? item.items.filter(i => !i.internal) : [] %>
                    <% if (!itemIsInternal) { %>
                        <%= createItemElement(itemClass, itemHref, itemLabel, itemRegularInnerItems, itemIsPublic, itemIsInternal) %>
                    <% } %>
                <% } %>
            <% } %>
            <div class="items">
                <% pageContent.items.forEach(pageItem => { %>
                    <%= createBlock(pageItem) %>
                <% }) %>
            </div>
            <%- include('parts/sidebar') %>
        </div>
    </div>
</main>
<%- include('parts/footer') %>
</body>
</html>
