<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="docPageTitle docPageHeaderItems">
              <h1><%= product.name %></h1>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="docPageHeaderItems">
              <a class="returnLink" href="<%= returnUrl %>"><%= returnLabel %></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <% Object.entries(docs).forEach(category => { -%>
              <div class="col-sm-4 mt-3">
                <div class="categoryCard">
                  <h2><%= category[0] %></h2>
                  <% category[1].forEach(doc => { -%>
                  <div class="docLink">
                    <a href="/<%= doc.url %>"><%= doc.title %></a>
                  </div>
                  <% }); -%>
                </div>
              </div>
              <% }); -%>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-auto">
            <a href="<%= returnUrl %>"><%= returnLabel %></a>
          </div>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
