<!DOCTYPE html>
<html lang="en">
  <% include parts/head %>
  <body>
    <% include parts/header %>
    <div class="docPanelContainer">
      <div class="container">
        <div class="row">
          <div class="docPageTitle">
            <h1><%= product.name %></h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="categoryCards">
              <% Object.entries(docs).forEach(category => { -%>
              <div class="categoryCard">
                <h2><%= category[0] %></h2>
                <% category[1].forEach(doc => { -%>
                <div class="docLink">
                  <a href="/<%= doc.url %>"><%= doc.title %></a>
                </div>
                <% }); -%>
              </div>
              <% }); -%>
            </div>
          </div>
        </div>
        <div class="row">
          <a class="gwButton" href="<%= returnUrl %>">See all products</a>
        </div>
      </div>
    </div>
    <% include parts/footer %>
  </body>
</html>
