<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="docPanelContainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="docPageTitle docPageHeaderItems">
                    <h1 class="display-4">Self-managed product documentation</h1>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="docPageHeaderItems">
                    <%- include('./parts/toggle.ejs', {selected: 'sm'}) %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <% docGroups.forEach(group => { -%>
                        <div class="col-sm-4 mt-3">
                            <div class="categoryCard">
                                <h2><%= group.category %></h2>
                                <% group.docs.forEach(doc => { -%>
                                    <% if (!doc.subcategory) { -%>
                                        <div class="docLink">
                                            <% if (doc.url.startsWith('http://') || doc.url.startsWith('https://')) { -%>
                                                <a href="<%= doc.url %>" target="_blank"
                                                   rel="noopener noreferrer"><%= doc.title %></a>
                                            <% } else { -%>
                                                <a href="<%= doc.url %>"><%= doc.title %></a>
                                            <% } -%>
                                        </div>
                                    <% } -%>
                                <% }) -%>
                                <% if (group.subcategories) { -%>
                                    <% group.subcategories.forEach(subcategory => { -%>
                                        <h3><%= subcategory %></h3>
                                        <% group.docs.forEach(doc => { -%>
                                            <% if (doc.subcategory === subcategory) { -%>
                                                <div class="docLink">
                                                    <% if (doc.url.startsWith('http://') || doc.url.startsWith('https://')) { -%>
                                                        <a href="<%= doc.url %>" target="_blank"
                                                           rel="noopener noreferrer"><%= doc.title %></a>
                                                    <% } else { -%>
                                                        <a href="/<%= doc.url %>"><%= doc.title %></a>
                                                    <% } -%>
                                                </div>
                                            <% } -%>
                                        <% }) -%>
                                    <% }) -%>
                                <% } -%>
                            </div>
                        </div>
                    <% }) -%>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <% include parts/useful-links %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>
