<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="homeContainer">
    <div class="gw-jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Self-managed products</h1>
            <a class="btn btn-link" href="/" role="button">Cloud products &gt;</a>
        </div>
    </div>
    <div class="docPanelContainer container">
        <div class="row">
        <%  let groups = docs.reduce((r, a) => {
                if (a.metadata.platform.includes('Self-managed')) {
                    r[a.metadata.category] = [...r[a.metadata.category] || [], a];
                }
                return r;
            }, {});
            const groupArray = Object.entries(groups);
            groupArray.forEach(group => {
                const groupName = group[0];
                const groupItems = group[1]; -%>
                <div class="col-md">
                    <div class="card border-light mb-3">
                        <h4 class="card-header bg-transparent"><%= groupName %></h4>
                        <div class="card-body">
                            <div class="card-text">
                                <%  const products = groupItems.reduce((r, a) => {
                                        r[a.metadata.product] = [...r[a.metadata.product] || [], a];
                                        return r;
                                    }, {});
                                    const productArray = Object.entries(products);
                                    productArray.forEach(product => {
                                        const productTitle = product[0].trim();
                                        const productId = `${productTitle.replace(/\s/g,'')}Releases`
                                        const productReleases = product[1];
                                -%>
                                    <p>
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                data-toggle="collapse"
                                                data-target="#<%= productId %>"
                                                aria-expanded="false"
                                                aria-controls="<%= productId %>">
                                            <%= productTitle %>
                                        </button>
                                    </p>
                                    <div class="collapse" id="<%= productId %>">
                                        <ul class="list-unstyled card-columns">
                                            <% productReleases.forEach(release => { -%>
                                                <li><a href="<%= release.url %>"><%= release.metadata.version %></a></li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                <% }) -%>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) -%>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="/self-managed-latest" class="btn-sm btn-dark" role="button">See latest releases</a>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>