<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="docPanelContainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="docPageTitle docPageHeaderItems">
                    <h1>Self-managed product documentation</h1>
                    <p><a href="/self-managed-latest">See latest releases</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="docPageHeaderItems">
                    <%- include('./parts/toggle.ejs', {selected: 'sm'}) %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <%  let groups = docs.reduce((r, a) => {
                        if (a.metadata.platform === 'Self-managed') {
                            r[a.metadata.category] = [...r[a.metadata.category] || [], a];
                        }
                        return r;
                    }, {});
                    const groupArray = Object.entries(groups);
                    groupArray.forEach(group => {
                        const groupName = group[0];
                        const groupItems = group[1]; -%>
                        <div class="col-sm-4">
                            <div class="categoryCard">
                                <h2><%= groupName %></h2>
                                <%  const products = groupItems.reduce((r, a) => {
                                        r[a.metadata.product] = [...r[a.metadata.product] || [], a];
                                        return r;
                                    }, {});
                                    const productArray = Object.entries(products);
                                    productArray.forEach(product => {
                                        const productTitle = product[0].trim();
                                        const productId = `${productTitle.replace(/\s/g,'')}Releases`
                                        const productReleases = product[1];
                                -%>
                                <button class="dropdown-toggle gwAccordion" type="button"
                                    data-toggle="collapse"
                                    data-target="#<%= productId %>"
                                    aria-expanded="false"
                                    aria-controls="<%= productId %>">
                                    <%= productTitle %>
                                    <div class="collapse" id="<%= productId %>">
                                        <ul class="list-unstyled card-columns">
                                            <% productReleases.forEach(release => { -%>
                                                <li><a href="<%= release.url %>"><%= release.metadata.version %></a></li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                </button>
                                <% }) -%>
                            </div>
                        </div>
                    <% }) -%>
                </div>
            </div>
            <div class="col-sm-3">
                <% include parts/useful-links %>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>
