<!DOCTYPE html>
<html lang="en">
<% include parts/head %>
<body>
<% include parts/header %>
<div class="docPanelContainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="docPageTitle docPageHeaderItems">
                    <h1>Self-managed product documentation</h1>
                    <p><a href="/self-managed-latest">See latest releases</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="docPageHeaderItems">
                    <%- include('./parts/toggle.ejs', {selected: 'sm'}) %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <% categories.forEach(category => { -%>
                    <div class="col-sm-4">
                        <div class="categoryCard">
                            <h2><%= category.categoryName %></h2>
                            <% category.categoryItems.forEach(product => { 
                                const productId = `${product.productName.replace(/\s/g, '')}Releases` -%>
                                <button class="dropdown-toggle gwAccordion" type="button"
                                        data-toggle="collapse"
                                        data-target="#<%= productId %>"
                                        aria-expanded="false"
                                        aria-controls="<%= productId %>">
                                    <%= product.productName %>
                                    <div class="collapse" id="<%= productId %>">
                                        <ul class="list-unstyled card-columns">
                                            <% product.productDocs.forEach(release => { -%>
                                                <li><a href="<%= release.url %>"><%= release.metadata.version %></a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                </button>
                            <% }) -%>
                        </div>
                    </div>
                    <% }) -%>
                </div>
            </div>
            <div class="col-sm-3">
                <% include parts/useful-links %>
            </div>
        </div>
    </div>
</div>
<% include parts/footer %>
</body>
</html>
